html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

.floating-box {
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    height: calc(90vh); /* all vertical height minus header */
    background: white;
    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    width: 290px;
    box-shadow: 1px 1px 10px 1px #888888;
}

#search {
    width: 100%;
}

.searchPopup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}